<body>

  <div class="anuncio1">anuncio</div>
  <div class="medio">
    <div class="toolbar">
      <div class="logo">
        <img src="assets/imagenes/logo.jpg" alt="el logo">
      </div>
      <div>
        <div class="title">
          <p>APUESTA Y GANA CON GECKOBET$ !!!!</p>
        </div>
        <div class="top_option">
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>search</mat-icon>
          </button>
          <button class="boton-cuenta" mat-fab extended>

            <mat-icon>perm_identity</mat-icon>
            ingresar
          </button>
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">

            <mat-icon>list</mat-icon>

          </button>
        </div>
      </div>
      <div class="under_toolb">
        <div class="partes">
          <mat-icon>star</mat-icon>
          <a href="">favoritos</a>
        </div>
        <div class="partes">
          <mat-icon>sports_soccer</mat-icon>
          <a href="">Fotball</a>
        </div>
        <div class="partes">
          <mat-icon>sports_basketball</mat-icon>
          <a href="">Baloncesto</a>
        </div>
        <div class="partes">
          <mat-icon>sports_tennis</mat-icon>
          <a href="">Tenis</a>
        </div>
        <div class="partes">
          <mat-icon>sports_baseball</mat-icon>
          <a href="">Beisbol</a>
        </div>

      </div>
      <br>

    </div>
    <div class="contenido1">
      <div class="evento">
        <p>Eventos populares</p>
      </div>

      <div class="img">
        <img src="assets/imagenes/perro.jpg" alt="">
      </div>
      <div class="popular">
        <p>popular:</p>
        <button class="botonpopular" mat-fab extended>

          <mat-icon>navigate_next</mat-icon>
          Liga 1 Perú

        </button>
        <button class="botonpopular" mat-fab extended>

          <mat-icon>navigate_next</mat-icon>
          La Liga

        </button>
        <button class="botonpopular" mat-fab extended>

          <mat-icon>navigate_next</mat-icon>
          Premier League

        </button>
        <button class="botonpopular" mat-fab extended>

          <mat-icon>navigate_next</mat-icon>
          Serie A

        </button>
        <button class="botonpopular" mat-fab extended>

          <mat-icon>navigate_next</mat-icon>
          NBA Play Offs

        </button>
        <button class="botonpopular" mat-fab extended>

          <mat-icon>navigate_next</mat-icon>
          Liga MX

        </button>
        <button class="botonpopular" mat-fab extended>

          <mat-icon>navigate_next</mat-icon>
          MLB

        </button>
        <button class="botonpopular" mat-fab extended>

          <mat-icon>navigate_next</mat-icon>
          Copa Libertadores

        </button>
        <button class="botonpopular" mat-fab extended>

          <mat-icon>navigate_next</mat-icon>
          Copa Sudamerica

        </button>
      </div>
    </div>

    <div class="contenido2">

      <button mat-raised-button color="primary">

        <mat-icon>slideshow</mat-icon>
        En vivo

      </button>
      <button mat-raised-button color="primary">

        <mat-icon>timelapse</mat-icon>
        Proximos

      </button>
      <div class="scrollpartidos">
        <!--partido 1-->
        <div class="lista">
          <div class="partidos">
            <div class="probabi">
              <p>probabilidad</p>
              <p>85%</p>
              <button mat-button>Ver Historial</button>

            </div>
            <div class="equipos">
              <p>Equipo 1</p>
              <p>x</p>
              <p>Equipo 2</p>


            </div>
            <div class="pronostico">
              <p>Pronostico</p>
              <p>más seguro:</p>
              <button mat-button>Resultados</button>

            </div>
          </div>

        </div>
        <!--Partido 2-->
        <div class="lista">
          <div class="partidos">
            <div class="probabi">
              <p>probabilidad</p>
              <p>85%</p>
              <button mat-button>Ver Historial</button>

            </div>
            <div class="equipos">
              <p>Equipo 1</p>
              <p>x</p>
              <p>Equipo 2</p>


            </div>
            <div class="pronostico">
              <p>Pronostico</p>
              <p>más seguro:</p>
              <button mat-button>Resultados</button>

            </div>
          </div>
        </div>
        <!--Partido 3-->
        <div class="lista">
          <div class="partidos">
            <div class="probabi">
              <p>probabilidad</p>
              <p>85%</p>
              <button mat-button>Ver Historial</button>

            </div>
            <div class="equipos">
              <p>Equipo 1</p>
              <p>x</p>
              <p>Equipo 2</p>


            </div>
            <div class="pronostico">
              <p>Pronostico</p>
              <p>más seguro:</p>
              <button mat-button>Resultados</button>

            </div>
          </div>
        </div>

        <!--Partido 2-->
        <div class="lista">
          <div class="partidos">
            <div class="probabi">
              <p>probabilidad</p>
              <p>85%</p>
              <button mat-button>Ver Historial</button>

            </div>
            <div class="equipos">
              <p>Equipo 1</p>
              <p>x</p>
              <p>Equipo 2</p>


            </div>
            <div class="pronostico">
              <p>Pronostico</p>
              <p>más seguro:</p>
              <button mat-button>Resultados</button>

            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

  <div class="anuncio2">anuncio</div>

</body>
